<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>[title]</title>
    <style type="text/css">
      h1 {
        text-align: center;
        font-size: 10rem;
        font-weight: normal;
      }
    </style>
  </head>

  <body>
    <main>
      <!--<div
        style="display: inline-block; width:10em; border: 1pt solid wheat; height: 1em;"
      ></div>
      <div
        style="display: inline-block; width:10em; border: .5pt solid wheat; height: 1em;"
      ></div>
      <div
        style="display: inline-block; width:10em; border: .25pt solid wheat; height: 1em;"
      ></div>
      <div
        style="display: inline-block; width:10em; border: 1pt solid wheat; height: 2em;"
      ></div>
      <div
        style="display: inline-block; width:10em; border: 1pt solid wheat; height: 2em;"
      ></div>
      <div
        style="display: inline-block; width:10em; border: 1pt solid wheat; height: 2em;"
      ></div>
      <div
        style="display: inline-block; width:10em; border: 1pt solid wheat; height: 2em;"
      ></div>
      <div
        style="display: inline-block; width:10em; border: 1pt solid wheat; height: 2em;"
      ></div>
      <div
        style="display: inline-block; width:10em; border: 1pt solid wheat; height: 2em;"
      >
        MMMMMMMMMM
      </div>
      <div
        style="display: inline-block; width:10em; border: 1pt solid wheat; height: 2em;"
      ></div>
      MMMMMMMMMM M M M M M M -->
      <h1>
        <a href="/">⚒</a>
        ⚜ ❖
        <a href="/lorem/">❦</a>
        <a href="/lorem/zahn">❄</a>
        <a href="/egea.Curlingbelegung">✨</a>
      </h1>
      <p>[Hallo (u):{ user}]</p>
      <a href="✔">[✔]</a>
      <a href="/admin/code">[_code]</a>
    </main>
  </body>
</html>
