<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>[title]</title>
    <style type="text/css"></style>
  </head>

  <body>
    <main>
      <h1><a href="/">❦</a> [title]</h1>
      <p>{text}</p>
      <form action="register" method="POST">
        <div class="fg">
          <div class="b">
            <label>[Anrede]</label>
            <div>
              <input type="radio" name="ort" value="{ort}" /><label>Herr</label>
              <input type="radio" name="ort" value="{ort}" /><label>Frau</label>
              <input type="radio" name="ort" value="{ort}" /><label
                >Firma</label
              >
            </div>

            <span class="e">{@errors.ort}</span>
          </div>
          <div>
            <label>[Name]</label>
            <input type="text" name="name" value="{name}" required />
            <span class="e">Bitte geben Sie ihren Namen ein{@errors.name}</span>
          </div>
          <div>
            <label>[EMail]</label>
            <input type="email" name="email" value="{email}" required />
            <span class="e">{@errors.email}</span>
          </div>
          <div class="b">
            <label>[Tel]</label>
            <input
              type="tel"
              name="tel"
              value="{tel}"
              pattern="[\d]{10}"
              title="zehn ziffern"
            />
            <span class="e">{@errors.tel}</span>
          </div>
          <div>
            <label>[Tel]</label>
            <input type="tel" name="tel" value="{tel}" />
            <span class="e">{@errors.tel}</span>
          </div>
          <div class="bb">
            <label>[Adr]</label>
            <input type="text" name="adr" value="{adr}" />
            <textarea name="code">{code}</textarea>
            <span class="e">{@errors.adr}</span>
          </div>
          <div>
            <label>[Plz]</label>
            <input type="number" name="plz" value="{plz}" />
            <select>
              <option>asdf</option>
              <option style="background-color: #004;">asdf</option>
              <option>asdf</option>
              <option>asdf</option>
              <option>asdf</option>
              <option>asdf</option>
            </select>
            <span class="e">{@errors.plz}</span>
          </div>
          <div>
            <label>[Ort]</label>
            <input type="text" name="ort" value="{ort}" />
            <span class="e">{@errors.ort}</span>
          </div>
          <div>
            <label>[Geb]</label>
            <input type="date" name="geb" value="1980-01-01" required />
            <input type="date" name="date" value="1980-01-03" readonly />
            <input type="datetime-local" value="1999-01-02T08:00" readonly />
            <input type="datetime-local" value="1999-01-02T18:00" readonly />
            <span class="e">{@errors.ort}</span>
          </div>
        </div>
        <button type="submit">OK</button>
      </form>
    </main>
  </body>
</html>
