<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="stylesheet" href="/static/style.css" />

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    <script
      src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
      integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4="
      crossorigin="anonymous"
    ></script>

    <script src="/static/script.js"></script>

    <title>{title} - [title]</title>
    {head}
  </head>

  <body>
    <header>
      <nav>
        <ul style="align-items: baseline;">
          <!--<li>M⏵<a href="/">⚒</a></li>-->
          <li><a href="/">⚒</a></li>
          <li class="menu">
            <ul>
              <li>ASDF</li>
              <li class="menu">
                BlaBla
                <ul>
                  <li>Test</li>
                  <li class="menu">
                    llkthj
                    <ul>
                      <li>Test</li>
                      <li>Test</li>
                      <li>Test</li>
                    </ul>
                  </li>
                  <li class="menu">
                    agfrr
                    <ul>
                      <li>Test</li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>ASDF</li>
            </ul>
          </li>
          <li class="{if @menu}menu{/if}">
            {if @menu}
            <ul>
              {each @menu}
              <li class="{if active}active{/if}">
                <a href="{url}">{title}</a>
                {if menu} // lets use recursive partials {>menu menu} {/if}
                <aside>
                  {each tags}<small>{.}</small>{/each}
                </aside>
                <aside>
                  {each emblems}<small>{.}</small>{/each}
                </aside>
              </li>
              {/each}
            </ul>
            {/if}
          </li>
        </ul>
      </nav>
    </header>
    <main>
      {content}
      <footer class="debug">
        {debug}
      </footer>
    </main>
    <footer>
      tsd.serve
    </footer>
  </body>
</html>
