<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/static/style.css" />

    <script
      src="https://code.jquery.com/jquery-3.4.1.min.js"
      integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo="
      crossorigin="anonymous"
    ></script>

    <script
      src="http://code.jquery.com/ui/1.12.1/jquery-ui.min.js"
      integrity="sha256-VazP97ZCwtekAsvgPBSUwPFKdrwD3unUfSGVYrahUqU="
      crossorigin="anonymous"
    ></script>

    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/modernizr/2.8.3/modernizr.min.js"
      integrity="sha256-0rguYS0qgS6L4qVzANq4kjxPLtvnp5nn2nB5G1lWRv4="
      crossorigin="anonymous"
    ></script>

    <script src="/static/script.js"></script>

    <title>{title} - [title]</title>
    {head}
  </head>

  <body>
    <header>
      {if @menu}
      <ul class="menu">
        {each @menu}
        <li class="{if active}active{/if}">
          <a href="{url}">{title}</a>
          {if menu} // lets use recursive partials {/if}
          <span>
            {each tags}{.}{/each}
          </span>
          <span>
            {each emblems}{.}{/each}
          </span>
        </li>
        {/each}
      </ul>
      {/if}
    </header>
    {content}
    <footer>
      {debug}
    </footer>
  </body>
</html>
