body {
  color: #ddd;
  background-color: #222;
  font-family: myfont, sans-serif;
}

body > main {
  padding-bottom: 5em;
}

body > footer {
  background-color: #000;
}

table.xdebug-error td {
  background-color: #000;
}

table.xdebug-error th {
  background-color: #eee;
  color: #222;
}

table.xdebug-error th > span {
  visibility: hidden;
  margin-right: -1.6em;
}

table.xdebug-error th > span::before {
  content: "⚠";
  visibility: visible;
  background-color: red;
  padding: 0.2em 0.6em;
  margin: 0.1em;
  float: left;
}

footer > font[size="1"] {
  display: block;
  background-color: #000;
  overflow-x: auto;
}

footer pre.xdebug-var-dump {
  background-color: #000;
  padding: 0.5em;
  overflow-x: auto;
}

a,
a:visited {
  text-decoration: none;
  color: #088;
}

a:active,
a:hover {
  text-decoration: #ddd underline;
}

button {
  border: thin solid transparent;
  background-color: #088;
  color: #ddd;
  font-weight: bold;
}

button:hover {
  border: thin solid #ddd;
}

h1 a,
h1 a:visited {
  color: #ddd;
}

h1 a:hover,
h1 a:active {
  color: #088;
  text-decoration: none;
}

@font-face {
  font-family: myfont;
  src: url(font.ttf);
}
